<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PSP2</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
</head>
<body data-ng-app="myApp">
    <div data-ng-controller="MainCtrl as mc">
        <h1>{{mc.title}}</h1>

        <input type="file" data-on-read-file>
        <br>
        <div data-ng-if="mc.fileContent.list.length" class="content">
            <p>File content:</p>
            <p data-ng-repeat="msg in mc.fileContent.list">{{ msg }}</p>
        </div>

        <p data-ng-if="mc.message.list.length">Press Add to add this data.</p>
        <a href="#AddedSalesPeople"><button data-ng-click="mc.addSalesPeople()">Add Sales People</button></a>
        <a href="#AddedProducts"><button data-ng-click="mc.addProducts()">Add Products</button></a>
        <br>

        <ul>
            <li><a href="#AddedSalesPeople">Added Sales People</a></li>
            <li><a href="#GetAllSalesPeople">getAllSalesPeople</a></li>
            <li><a href="#MeanAbsoluteDeviation">Mean Absolute Deviation</a></li>
            <li><a href="#SampleCovariance">Sample Covariance</a></li>
            <li><a href="#AddedProducts">Added Products</a></li>
            <li><a href="#ProductsToOrder">Products to Order</a></li>
        </ul>

        <div ng-view></div>

    </div>

    <script src="psp1/product.js"></script>
    <script src="psp1/salesperson.js"></script>
    <script src="psp1/company.js"></script>
    <script src="psp2/message.js"></script>
    <script src="psp2/parser.js"></script>
    <script src="psp2/filereader_directive.js"></script>
    <script src="psp3/maincontroller.js"></script>
    <script src="psp3/psp1controller.js"></script>
    <script src="psp3/main.js"></script>

    <hr>

    <div data-ng-controller="Psp1Ctrl as pc">
        <h1>{{ pc.title }}</h1>
        <fieldset>
            <legend>Input Salesperson Information</legend>
            <label>ID: </label>
            <input type="text" name="eId" data-ng-model="pc.newSalesPerson.id" placeholder="Enter the ID here"><span ng-show="eId.$touched && eId.$invalid">The name is required.</span><br>
            <label>FirstName: </label>
            <input type="text" data-ng-model="pc.newSalesPerson.firstName" placeholder="Enter the first name here"><br>
            <label>LastName: </label>
            <input type="text" data-ng-model="pc.newSalesPerson.lastName" placeholder="Enter the last name here"><br>
            <label>Salary: </label>
            <input type="text" data-ng-model="pc.newSalesPerson.salary" placeholder="Enter the salary here"><br>
            <label>Commenced year: </label>
            <input type="text" data-ng-model="pc.newSalesPerson.yearCommenced" placeholder="Enter the commenced year here"><br>
            <p class="error-msg">{{ pc.newSalesPerson.errorMsg }}</p>
            <button data-ng-click="pc.addSalesPeople()">Add Sales People</button>
        </fieldset>
        <br>

        <fieldset>
            <legend>Input Product Information</legend>
            <label>ID: </label>
            <input type="text" data-ng-model="pc.newProduct.id" placeholder="Enter the ID here"><br>
            <label>ProductName: </label>
            <input type="text" data-ng-model="pc.newProduct.name" placeholder="Enter the product name here"><br>
            <label>Price: </label>
            <input type="text" data-ng-model="pc.newProduct.price" placeholder="Enter the price here"><br>
            <label>QuantityOnHand: </label>
            <input type="text" data-ng-model="pc.newProduct.quantityOnHand" placeholder="Enter the quantity on hand here"><br>
            <label>minimumQuantity: </label>
            <input type="text" data-ng-model="pc.newProduct.minimumQuantity" placeholder="Enter the minimum quantity here"><br>
            <p class="error-msg">{{ pc.newProduct.errorMsg }}</p>
            <button data-ng-click="pc.addProduct()">Add Product</button>
        </fieldset>
        <br>

        <h2>Display all input below</h2>
        <div data-ng-if="!pc.company.allMySalesPersons.length"  class="content">
            <p>Sales People is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMySalesPersons.length" class="content">
            <h3>Added Sales People</h3>
            <p>Following Sales People were added.</p>
            <table>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Salary</th>
                    <th>YearCommenced</th>
                </tr>
                <tr data-ng-repeat="salesPerson in pc.company.allMySalesPersons">
                    <td>{{salesPerson.id}}</td>
                    <td>{{salesPerson.firstName}}</td>
                    <td>{{salesPerson.lastName}}</td>
                    <td>{{salesPerson.salary}}</td>
                    <td>{{salesPerson.yearCommenced}}</td>
                </tr>
            </table>
        </div>

        <div data-ng-if="!pc.company.allMyProducts.length"  class="content">
            <p>Product is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMyProducts.length" class="content">
            <h3>Added Products</h3>
            <p>Following Products were added.</p>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>QuantityOnHand</th>
                    <th>MinimumQuantity</th>
                </tr>
                <tr data-ng-repeat="product in pc.company.allMyProducts">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantityOnHand}}</td>
                    <td>{{product.minimumQuantity}}</td>
                </tr>
            </table>
        </div>

        <h2>getAllSalesPeople method</h2>
        <div data-ng-if="!pc.company.allMySalesPersons.length"  class="content">
            <p>Sales People is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMySalesPersons.length" class="content">
            <div data-ng-repeat="sp in pc.showAllSalesPeople()">{{ sp }}</div>
        </div>

        <h2>getProductsToOrder method</h2>
        <div data-ng-if="!pc.company.allMyProducts.length"  class="content">
            <p>Product is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMyProducts.length" class="content">
            <div data-ng-repeat="pr in pc.showProductsToOrder()">{{ pr }}</div>
        </div>
    </div>

</body>
</html>
