<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PSP2</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
</head>
<body>
    <div data-ng-app="myApp" data-ng-controller="MainCtrl as mc">
        <h1>{{mc.title}}</h1>

        <input type="file" data-on-read-file>
        <br>
        <div data-ng-if="mc.message.list.length" class="content">
            <p>Data in the file is:</p>
            <p data-ng-repeat="msg in mc.message.list">{{ msg }}</p>
        </div>

        <p data-ng-if="mc.message.list.length">Press Add to add this data.</p>
        <button data-ng-click="mc.addSalesPeople()">Add Sales People</button>
        <button data-ng-click="mc.addProducts()">Add Products</button>
        <br>

        <ul>
            <li><a href="#AddedSalesPeople">Added Sales People</a></li>
            <li><a href="#GetAllSalesPeople">getAllSalesPeople</a></li>
            <li><a href="#MeanAbsoluteDeviation">Mean Absolute Deviation</a></li>
            <li><a href="#SampleCovariance">Sample Covariance</a></li>
            <li><a href="#AddedProducts">Added Products</a></li>
            <li><a href="#ProductsToOrder">Products to Order</a></li>
        </ul>

        <div ng-view></div>

    </div>

    <script src="psp2/message.js"></script>
    <script src="psp2/parser.js"></script>
    <script src="psp2/filereader_directive.js"></script>
    <script src="psp3/maincontroller.js"></script>
    <script src="psp3/main.js"></script>

    <hr>

    <div>
        <h1>PSP1: Native JavaScript ES6 application</h1>
        <fieldset>
            <legend>Input Salesperson Information</legend>
            <label>ID: </label>
            <input type="text" id="eId" placeholder="Enter the ID here">
            <br>
            <label>FirstName: </label>
            <input type="text" id="firstName" placeholder="Enter the first name here">
            <br>
            <label>LastName: </label>
            <input type="text" id="lastName" placeholder="Enter the last name here">
            <br>
            <label>Salary: </label>
            <input type="text" id="salary" placeholder="Enter the salary here">
            <br>
            <label>Commenced year: </label>
            <input type="text" id="commencedYear" placeholder="Enter the commenced year here">
            <br>
            <button id='btnAddSalesPerson'>Add</button>
        </fieldset>
        <br>

        <fieldset>
            <legend>Input Product Information</legend>
            <label>ID: </label>
            <input type="text" id="pId" placeholder="Enter the ID here">
            <br>
            <label>ProductName: </label>
            <input type="text" id="productName" placeholder="Enter the product name here">
            <br>
            <label>Price: </label>
            <input type="text" id="price" placeholder="Enter the price here">
            <br>
            <label>QuantityOnHand: </label>
            <input type="text" id="onhand" placeholder="Enter the quantity on hand here">
            <br>
            <label>minimumQuantity: </label>
            <input type="text" id="minimum" placeholder="Enter the minimum quantity here">
            <br>
            <button id='btnAddProduct'>Add</button>
        </fieldset>

        <br>
        <button id='btnDisplay'>Display</button>
        <h2>Display all input below</h2>
        <div id="result"></div>
        <h2>getAllSalesPeople method</h2>
        <div id="getAllSalesPeople"></div>
        <h2>getProductsToOrder method</h2>
        <div id="getProductsToOrder"></div>
    </div>

    <script src="psp1/product.js"></script>
    <script src="psp1/salesperson.js"></script>
    <script src="psp1/company.js"></script>
    <script src="psp1/view.js"></script>
    <script src="psp1/controller.js"></script>
    <script>
        /* jshint undef:true, unused:true, esversion:6, asi:true */
        function main() {
            let newCompany = new Company()
            View.setUp()
            let ctrl = new Controller(newCompany, View)
        }

        window.onload = main
    </script>
</body>
</html>
