<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>PSP3</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-route.js"></script>
</head>
<body data-ng-app="myApp">
    <div data-ng-controller="MainCtrl as mc">
        <h1>{{mc.title}}</h1>

        <input type="file" data-on-read-file>
        <br>
        <div data-ng-if="mc.fileContent.list.length">
            <div class="content">
                <p>File content:</p>
                <p data-ng-repeat="msg in mc.fileContent.list">{{ msg }}</p>
            </div>
            <p>Press following button to add this data.</p>
            <a href="#AddedSalesPeople" data-ng-click="mc.addSalesPeople()" class="btn">Add Sales People</a>
            <a href="#AddedProducts" data-ng-click="mc.addProducts()" class="btn">Add Products</a>
        </div>

        <br><br>

        <p>Following part uses routing</p>
        <ul>
            <li><a href="#AddedSalesPeople">Added Sales People</a></li>
            <li><a href="#GetAllSalesPeople">getAllSalesPeople</a></li>
            <li><a href="#MeanAbsoluteDeviation">Mean Absolute Deviation</a></li>
            <li><a href="#SampleCovariance">Sample Covariance</a></li>
            <li><a href="#AddedProducts">Added Products</a></li>
            <li><a href="#ProductsToOrder">Products to Order</a></li>
        </ul>

        <div data-ng-view></div>

    </div>

    <script src="psp1/product.js"></script>
    <script src="psp1/salesperson.js"></script>
    <script src="psp1/company.js"></script>
    <script src="psp2/message.js"></script>
    <script src="psp2/parser.js"></script>
    <script src="psp2/filereader_directive.js"></script>
    <script src="psp3/maincontroller.js"></script>
    <script src="psp3/psp1controller.js"></script>
    <script src="psp3/main.js"></script>

    <hr>

    <div data-ng-controller="Psp1Ctrl as pc">
        <h1>{{ pc.title }}</h1>
        <form name="salesPersonForm" novalidate>
            <fieldset>
                <legend>Input Salesperson Information</legend>
                <label>ID: </label>
                <input type="number" name="eId" data-ng-model="pc.newSalesPerson.id" placeholder="Enter the ID here" required>
                <span class="error-msg" data-ng-show="salesPersonForm.eId.$touched && salesPersonForm.eId.$invalid">ID is required.</span><br>
                <label>FirstName: </label>
                <input type="text" name="firstName" data-ng-model="pc.newSalesPerson.firstName" placeholder="Enter the first name here" required>
                <span class="error-msg" data-ng-show="salesPersonForm.firstName.$touched && salesPersonForm.firstName.$invalid">FirstName is required.</span><br>
                <label>LastName: </label>
                <input type="text" name="lastName" data-ng-model="pc.newSalesPerson.lastName" placeholder="Enter the last name here" required>
                <span class="error-msg" data-ng-show="salesPersonForm.lastName.$touched && salesPersonForm.lastName.$invalid">LastName is required.</span><br>
                <label>Salary: </label>
                <input type="number" name="salary" data-ng-model="pc.newSalesPerson.salary" placeholder="Enter the salary here" required>
                <span class="error-msg" data-ng-show="salesPersonForm.salary.$touched && salesPersonForm.salary.$invalid">Salary is required.</span><br>
                <label>Commenced year: </label>
                <input type="number" name="yearCommenced" data-ng-model="pc.newSalesPerson.yearCommenced" placeholder="Enter the commenced year here" required>
                <span class="error-msg" data-ng-show="salesPersonForm.yearCommenced.$touched && salesPersonForm.yearCommenced.$invalid">Commenced year is required.</span><br>
                <input type="button" value="Add Sales People" data-ng-click="pc.addSalesPeople(); salesPersonForm.$setUntouched();" data-ng-disabled="salesPersonForm.eId.$invalid || salesPersonForm.firstName.$invalid || salesPersonForm.lastName.$invalid || salesPersonForm.salary.$invalid || salesPersonForm.yearCommenced.$invalid">
                <input type="reset" data-ng-click="salesPersonForm.$setUntouched()">
            </fieldset>
        </form>
        <br>

        <form name="productForm" novalidate>
            <fieldset>
                <legend>Input Product Information</legend>
                <label>ID: </label>
                <input type="text" name="pId" data-ng-model="pc.newProduct.id" placeholder="Enter the ID here" required>
                <span class="error-msg" data-ng-show="productForm.pId.$touched && productForm.pId.$invalid">ID is required.</span><br>
                <label>ProductName: </label>
                <input type="text" name="pName" data-ng-model="pc.newProduct.name" placeholder="Enter the product name here" required>
                <span class="error-msg" data-ng-show="productForm.pName.$touched && productForm.pName.$invalid">ProductName is required.</span><br>
                <label>Price: </label>
                <input type="number" name="price" data-ng-model="pc.newProduct.price" placeholder="Enter the price here" required>
                <span class="error-msg" data-ng-show="productForm.price.$touched && productForm.price.$invalid">Price is required.</span><br>
                <label>QuantityOnHand: </label>
                <input type="number" name="onhand" data-ng-model="pc.newProduct.quantityOnHand" placeholder="Enter the quantity on hand here" required>
                <span class="error-msg" data-ng-show="productForm.onhand.$touched && productForm.onhand.$invalid">QuantityOnHand is required.</span><br>
                <label>MinimumQuantity: </label>
                <input type="number" name="min" data-ng-model="pc.newProduct.minimumQuantity" placeholder="Enter the minimum quantity here" required>
                <span class="error-msg" data-ng-show="productForm.min.$touched && productForm.min.$invalid">MinimumQuantity is required.</span><br>
                <input type="button" value="Add Product" data-ng-click="pc.addProduct(); productForm.$setUntouched();" data-ng-disabled="productForm.pId.$invalid || productForm.pName.$invalid || productForm.price.$invalid || productForm.onhand.$invalid || productForm.min.$invalid">
                <input type="reset" data-ng-click="productForm.$setUntouched()">
            </fieldset>
        </form>
        <br>

        <h2>Display all input below</h2>
        <div data-ng-if="!pc.company.allMySalesPersons.length"  class="content">
            <p>Sales People is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMySalesPersons.length" class="content">
            <h3>Added Sales People</h3>
            <p>Following Sales People were added.</p>
            <table>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Salary</th>
                    <th>YearCommenced</th>
                </tr>
                <tr data-ng-repeat="salesPerson in pc.company.allMySalesPersons">
                    <td>{{salesPerson.id}}</td>
                    <td>{{salesPerson.firstName}}</td>
                    <td>{{salesPerson.lastName}}</td>
                    <td>{{salesPerson.salary}}</td>
                    <td>{{salesPerson.yearCommenced}}</td>
                </tr>
            </table>
        </div>

        <div data-ng-if="!pc.company.allMyProducts.length"  class="content">
            <p>Product is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMyProducts.length" class="content">
            <h3>Added Products</h3>
            <p>Following Products were added.</p>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>QuantityOnHand</th>
                    <th>MinimumQuantity</th>
                </tr>
                <tr data-ng-repeat="product in pc.company.allMyProducts">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.quantityOnHand}}</td>
                    <td>{{product.minimumQuantity}}</td>
                </tr>
            </table>
        </div>

        <h2>getAllSalesPeople method</h2>
        <div data-ng-if="!pc.company.allMySalesPersons.length"  class="content">
            <p>Sales People is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMySalesPersons.length" class="content">
            <div data-ng-repeat="sp in pc.showAllSalesPeople()">{{ sp }}</div>
        </div>

        <h2>getProductsToOrder method</h2>
        <div data-ng-if="!pc.company.allMyProducts.length"  class="content">
            <p>Product is not added yet.</p>
        </div>
        <div data-ng-if="pc.company.allMyProducts.length" class="content">
            <div data-ng-repeat="pr in pc.showProductsToOrder()">{{ pr }}</div>
        </div>
    </div>

</body>
</html>
