body {
    font-family: "Courier New";
    padding: 5%
}

.content {
    background: #efefef;
    padding: 20px;
    margin-top: 25px;
    line-height: 1.8;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #000;
}

th, td {
    padding: 0 1rem;
}

.btn {
    font-family: sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: #eee;
    border: 1px solid #999;
    padding: 0.2rem 0.5rem;
}

.error-msg {
    color: #f00;
}

input.ng-invalid {
    background-color: pink;
}

input.ng-valid {
    background-color: lightgreen;
}

input.ng-untouched {
    background-color: white;
}
