<div data-ng-if="!mc.company.allMySalesPersons.length"  class="content">
    <p>Sales People is not added yet.</p>
</div>
<div data-ng-if="mc.company.allMySalesPersons.length" class="content">
    <h2>Added Sales People</h2>
    <p>Following Sales People were added.</p>
    <table>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Salary</th>
            <th>YearCommenced</th>
        </tr>
        <tr data-ng-repeat="salesPerson in mc.company.allMySalesPersons">
            <td>{{salesPerson.id}}</td>
            <td>{{salesPerson.firstName}}</td>
            <td>{{salesPerson.lastName}}</td>
            <td>{{salesPerson.salary}}</td>
            <td>{{salesPerson.yearCommenced}}</td>
        </tr>
    </table>
</div>
